# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/
build/
.next/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =========================
# Temp / Runtime
# =========================
.temp/
.tmp/
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Reports
# =========================
report.*.json